{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.yaml", "*.yml", ".prettierrc", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
